.clist{
    width: 100%;
    text-align: center;
}

td, th {
    text-align: left;
    padding: 8px;
  }

tr{
    cursor: pointer;
} 

tr:hover{
    background-color: #eee !important;
}
  
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/