<h2>Liste der Kandidaten für die nächste Kommunalwahl in Koblenz</h2>

<!---<a href="https://www.freepik.com/free-photos-vectors/business">Business vector created by freepik - www.freepik.com</a>-->

<div class="form-group">
  <span><input type="text" placeholder = "Suchbegriff"
    style="width: 300px;" ng-model="searchText" />
  </span>
</div>


<div>
<span style="width:100%">
  <select ng-model="selected">
    <option>Partei</option>
    <option>AFD</option>
    <option>CDU</option>
    <option>Die Partei</option>
    <option>FBG</option>
    <option>FDP</option>
    <option>Freie Wähler</option>
    <option>Grüne</option>
    <option>Linke</option>
    <option>SPD</option>
    <option>Wählergruppe Schupp</option>
  </select>

  <select ng-model="selected">
    <option>Geschlecht</option>
    <option>m</option>
    <option>w</option>
  </select>

  <select ng-model="selected">
    <option>Alter</option>
    <option>18-28</option>
    <option>29-38</option>
    <option>39-48</option>
    <option>49-58</option>
    <option>58+</option>
  </select>

  <select ng-model="selected">
    <option>Titel</option>
    <option>no title</option>
    <option>Dr.</option>
    <option>Prof.</option>
  </select>

  <select ng-model="selected">
    <option>Stadtteil</option>
    <option>Altstadt</option>
    <option>Arenberg</option>
    <option>Bubenheim</option>
    <option>Ehrenbreitstein</option>
    <option>Goldgrube</option>
    <option>Güls</option>
    <option>Horchheim</option>
    <option>Immendorf</option>
    <option>Karthause</option>
    <option>Kesselheim</option>
    <option>Lützel</option>
    <option>Metternich</option>
    <option>Mitte</option>
    <option>Moselweis</option>
    <option>Niederberg</option>
    <option>Neuendorf</option>
    <option>Pfaffendorf</option>
    <option>Rübenach</option>
    <option>Rauental</option>
    <option>Süd</option>
    <option>Vorstadt</option>
    <option>Wallersheim</option>
  </select>

</span>
 
<!---Each Candidate, placeholer -->
 <ol class="cList">
  <li class="cListItem" *ngFor="let product of products | myfilter:searchText; index as productId" [routerLink]="['/products', productId]">
      <h3 class="partyClass">{{product.party}}</h3>
      <h2>{{product.numberOnList}}. {{product.title}} {{product.firstName}}  {{product.lastName}}</h2>
      <img class="image-pic" src="{{product.pic}}"  /> <br>
      {{product.gender}} <br>
      {{product.district}} <br>
      {{product.bornOrAge}} <br>
      {{product.hashtags}} <br>
      <button (click)="share()">
        Share
    </button>
  </li>

 </ol> 
 

  <app-product-alerts
  [product]="product" 
  (notify)="onNotify()">
</app-product-alerts>

  </div>
