.clist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;


}

.cListItem{
    width: 30%;
    display: inline-block;
    flex-grow: 1;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 1px #eee;
}

li.cListItem:hover{
    border: 1px solid #eee;
}

.partyClass{
    text-align: center;
}
  
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/