h2{
    text-align: center;
}


.clist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

   

}

.image-pic{
        object-fit: cover;
       width: 100%;
       height: 400px;
       padding: 2px;
       margin-left: auto;
       margin-right: auto;

}

.cListItem{
    width: 30%;
    display: inline-block;
    flex-grow: 1;
    margin: 5px;
    padding: 5px;
    box-shadow: 1px 1px 1px #eee;
}

li.cListItem:hover{
    border: 1px solid #eee;
}

.partyClass{
    text-align: center;
}
  
@media only screen and (max-width: 600px) {
    .cListItem{
        width: 100%;
    }
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/