
<div class="cl" *ngIf="product">


	<div class="ctext">
		<h1> {{product.firstName}}
				{{product.lastName}} </h1> 


	<h2>Partei: {{product.party}}</h2>
	<h3>Geboren: {{product.bornOrAge}}<br>	
	</h3>
	<h3>Beschäftigung: {{product.profession}}</h3>
<h4><i class="material-icons">room</i> {{product.district}} </h4>
	<p class="truncate"> {{product.freetext}}</p>

	<p>{{product.hashtags}}</p>

	<div class="r-btn">
	<button (click)="addToCart(product)"> <p class="c-btn">Remember</p></button>
	</div>


  <br>
</div>
<div class="cimage">
		<img class="image-pic" src="{{product.pic}}"  /> <br>
	</div>
</div>